.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.headerLeft {
    display: flex;
    align-items: center;
    gap: 20px;
}

.headerNameLogo {
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    color: #4793ff;
}

.headerRight {
    display: flex;
    align-items: center;
    gap: 20px;
}

.headerSelect {
    width: 194px;
    height: 37px;
}