@use '/src/styles/main' as *;
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

body {
    font-family: "Geist Mono", monospace;
    background-color: light-dark(#FFFFFF, #0D1117);
}

.container {
    max-width: calc(1200px + 40px * 2);
    padding: 0px 40px; 

    @include media-breakpoint-down (xxs) {
        padding: 0px 20px;
    }

    margin: 0 auto;
}
