@use '../../styles/main' as *;

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.headerLeft {
    display: flex;
    align-items: center;
    gap: 20px;

    @include media-breakpoint-down(xxs) {
        gap: 10px;
    }   
}

.headerNameLogo {
    font-weight: 700;
    font-size: clamp(1rem, 0.8702rem + 0.5769vw, 1.5625rem);;
    text-transform: uppercase;
    color: #4793ff;
}

.headerRight {
    display: flex;
    align-items: center;
    gap: 20px;

    @include media-breakpoint-down(xxs) {
        gap: 10px;
    }  
}

.headerSelect {
    width: 194px;
    height: 37px;

    @include media-breakpoint-down(xxs) {
        width: 150px;
    }
}