@import './styles/reset.scss';

body {
    font-family: "Geist Mono", monospace;
}

.container {
    max-width: 1200px;
    margin: 0 auto;   
}

.dayInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}