@import './styles/reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');


body {
    font-family: "Geist Mono", monospace;
}

.container {
    max-width: 1200px;
    margin: 0 auto;   
}

.dayInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}